.title {
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
    font-weight: 600;
    color: #3a506b;
}

@media screen and (max-width: 850px) {
    .title {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .resource-list {
        width: 100vh;
        margin-left: 0;
    }
  }

.resource-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}