header {
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: #1c2541;
}

nav {
    position: absolute;
    right: 0;
    padding-right: 4rem;
}

@media screen and (min-width: 851px) {
    .menu li {
        display: inline-block;
        font-weight: 600;
        margin-left: 3rem;
    }
    
    .menu {
        font-size: 1.2em;
        text-align: right;
    }
  }
  
  /* If the screen size is 850px wide or less */
  @media screen and (max-width: 850px) {
    .menu li {
        display: inline-block;
        margin-right: 20px;
    }
    
    nav {
        padding-right: 0.5rem;
    }
  }

  .menu a:hover,
  .menu a:active,
  .menu a.active {
    color: #5bc0be;
}

.logo {
    margin: 2rem;
}

.logo img{
    width: 5rem;
}